{"openapi":"3.1.0","info":{"title":"Are.na API","version":"3.0.0","contact":{"name":"Are.na Support","url":"https://www.are.na/about#contact","email":"help@are.na"},"description":"The Are.na REST API provides programmatic access to the Are.na platform - a tool for connecting ideas and building knowledge together.\n\n## Getting Started\n\nAll API requests use `https://api.are.na` as the base URL. Responses are JSON with consistent structure including hypermedia links for resource discovery.\n\n## Authentication\n\nMost endpoints work without authentication but provide additional access when authenticated. Use the standard `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_TOKEN\n```\n\n**Supported Token Types:**\n- **OAuth2 Access Token**: Obtained via [OAuth2 flow](https://www.are.na/developers/explore/authentication) (supports PKCE)\n- **Personal Access Token**: From [are.na/settings/oauth](https://www.are.na/settings/personal-access-tokens)\n\nFor OAuth2, note that the authorization endpoint is hosted on the main site (`www.are.na/oauth/authorize`),\nwhile the token endpoint is on the API (`api.are.na/v3/oauth/token`). The authorization endpoint supports\n`read` and `write` scopes (defaulting to `read` if omitted). A typical authorization URL looks like:\n\n```\nhttps://www.are.na/oauth/authorize?client_id=YOUR_CLIENT_ID\u0026redirect_uri=YOUR_REDIRECT_URI\u0026response_type=code\u0026scope=read\n```\n\n**Authentication Levels:**\n- **Public**: No authentication needed (e.g., `/v3/ping`)\n- **Optional**: Works unauthenticated but respects permissions when authenticated\n- **Required**: Returns `401 Unauthorized` without valid token (e.g., `/v3/me`)\n\n## Scopes\n\nOAuth2 tokens and personal access tokens support the following scopes:\n\n| Scope | Description |\n|-------|-------------|\n| `read` | Read-only access (default) — write operations will return `403 Forbidden` |\n| `write` | Full read and write access |\n\nTokens default to `read` scope. Request `write` scope when creating a token or authorizing an OAuth2 application to enable write access. Read-only tokens can view all resources the user has access to but cannot create, update, or delete anything.\n\n## Rate Limiting\n\n**Acceptable Use**: This API is intended for building applications that integrate with Are.na, not for scraping or bulk data collection. Automated crawling, systematic downloading of content, or any form of structured data harvesting is prohibited. If you need bulk access to data for research or other purposes, please [contact us](mailto:help@are.na) to discuss your use case.\n\nRate limits are enforced per-minute based on your tier:\n\n| Tier | Requests/Minute |\n|------|-----------------|\n| Guest (unauthenticated) | 30 |\n| Free | 120 |\n| Premium | 300 |\n| Supporter/Lifetime | 600 |\n\n**Rate Limit Headers** (included in every response):\n- `X-RateLimit-Limit`: Your tier's per-minute limit\n- `X-RateLimit-Tier`: Current tier (guest/free/premium/supporter)\n- `X-RateLimit-Window`: Time window in seconds (always 60)\n- `X-RateLimit-Reset`: Unix timestamp when the limit resets\n\nWhen you exceed limits, you'll receive a `429 Too Many Requests` response with upgrade recommendations and retry timing.\n\n## Request Validation\n\nAll parameters are validated against this OpenAPI specification. Invalid requests return `400 Bad Request` with detailed error messages.\n\n## Error Responses\n\nErrors use standard HTTP status codes with JSON bodies:\n\n```json\n{\n  \"error\": \"Not Found\",\n  \"code\": 404,\n  \"details\": {\n    \"message\": \"The resource you requested does not exist\"\n  }\n}\n```\n\nCommon status codes:\n- `400`: Invalid request parameters\n- `401`: Authentication required or invalid\n- `403`: Insufficient permissions\n- `404`: Resource not found\n- `429`: Rate limit exceeded\n\n## Pagination\n\nList endpoints return paginated results. Use these query parameters:\n- `page`: Page number (default: 1)\n- `per`: Items per page (default: 24, max: 100)\n\nResponses include a `meta` object with pagination info:\n\n```json\n{\n  \"data\": [...],\n  \"meta\": {\n    \"current_page\": 1,\n    \"per_page\": 25,\n    \"total_pages\": 5,\n    \"total_count\": 120,\n    \"next_page\": 2,\n    \"prev_page\": null,\n    \"has_more_pages\": true\n  }\n}\n```\n\n## Best Practices\n\nAre.na channels and users can contain thousands of items. The following guidelines will help you build responsive, well-behaved integrations.\n\n### Paginate, Don't Enumerate\n\nNever try to load an entire channel or user's content in one pass. Use `page` and `per` parameters to fetch only the data you need right now. Check `meta.has_more_pages` and load subsequent pages on demand rather than in a loop.\n\n**Do:**\n- Fetch the first page and display it immediately\n- Load more pages as the user scrolls or explicitly requests them\n\n**Don't:**\n- Loop through all pages at startup to \"build a complete picture\"\n- Set `per=100` and iterate until `has_more_pages` is `false`\n\n### Use HTTP Caching\n\nAll responses include `Cache-Control` and `ETag` headers. Unauthenticated responses are `max-age=300, public` — your client can reuse them for 5 minutes without any network request. Authenticated responses are `private, no-cache` — your client may store them but must revalidate before each reuse.\n\nTo revalidate, send the `ETag` value from a previous response as `If-None-Match`:\n\n```\nGET /v3/channels/123\nIf-None-Match: \"abc123\"\n```\n\nIf the resource hasn't changed, the API returns `304 Not Modified` with no body, saving bandwidth. Single-resource endpoints (e.g., `/v3/channels/:id`, `/v3/blocks/:id`) also skip server-side work entirely on a match. Note that 304 responses still count against your rate limit.\n\n### Fetch Summaries Before Details\n\nStart with lightweight list endpoints (e.g., a channel's first page of contents) before drilling into individual blocks or nested resources. Avoid eagerly resolving every connection or nested object — fetch details only when a user explicitly needs them.\n\n### Respect Rate Limits Gracefully\n\nMonitor the `X-RateLimit-Limit` and `X-RateLimit-Reset` headers. If you receive a `429` response, wait until the reset window before retrying — don't retry in a tight loop. Consider adding exponential backoff and a short delay between sequential requests (e.g., 200–500ms) when making multiple calls.\n\n### Design for Partial Data\n\nChannels can have tens of thousands of connections. Your application should function well with just the first page of results, not require the full dataset upfront. Display what you have and offer the user a way to load more.\n\n### Build Statically When Possible\n\nIf you're building a website that displays Are.na content, prefer static site generation (fetching data at build time) over live API requests on every page view. This eliminates rate limit concerns for your visitors and makes your site faster and more resilient. If you need fresher data, cache responses server-side with a reasonable TTL rather than proxying every request through to the API.\n\n### Avoid Write-Heavy Loops\n\nIf you're creating or connecting multiple blocks, batch your logic and add delays between write operations. Rapid-fire mutations can hit rate limits quickly and may trigger abuse detection.\n"},"servers":[{"url":"https://api.are.na","description":"Production API"}],"security":[{"BearerAuth":[]},{}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Bearer token authentication.\n\nAccepts two token types:\n- OAuth2 access tokens (obtained via OAuth2 flow with Doorkeeper)\n- Personal access tokens (from your account settings at are.na/settings)\n\nExample: `Authorization: Bearer YOUR_TOKEN`\n","bearerFormat":"token"},"OAuth2":{"type":"oauth2","description":"OAuth 2.0 authentication. See [RFC 6749](https://tools.ietf.org/html/rfc6749) for details.\n\n**Supported Flows:**\n- **Authorization Code**: For web and mobile apps with a backend\n- **Authorization Code + PKCE**: For public clients (mobile apps, SPAs) without a client secret\n- **Client Credentials**: For server-to-server integrations\n\nPKCE ([RFC 7636](https://tools.ietf.org/html/rfc7636)) is supported for enhanced security with\npublic clients. Use `code_challenge_method=S256` for best security.\n\nAccess tokens do not expire. Register your application at [are.na/oauth/applications](https://www.are.na/oauth/applications).\n","flows":{"authorizationCode":{"authorizationUrl":"https://www.are.na/oauth/authorize","tokenUrl":"/v3/oauth/token","scopes":{"write":"Full read and write access to your account","read":"Read-only access to your account"}},"clientCredentials":{"tokenUrl":"/v3/oauth/token","scopes":{"write":"Full read and write access to your account","read":"Read-only access to your account"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"Page number for pagination","schema":{"type":"integer","minimum":1,"default":1},"example":1},"PerParam":{"name":"per","in":"query","required":false,"description":"Number of items per page (max 100)","schema":{"type":"integer","minimum":1,"maximum":100,"default":24},"example":24},"IdParam":{"name":"id","in":"path","required":true,"description":"Resource ID","schema":{"type":"integer"}},"SlugOrIdParam":{"name":"id","in":"path","required":true,"description":"Resource ID or slug","schema":{"type":"string"}},"ConnectionSortParam":{"name":"sort","in":"query","required":false,"description":"Sort by the date the relationship was created.","schema":{"$ref":"#/components/schemas/ConnectionSort"},"example":"created_at_desc"},"ContentSortParam":{"name":"sort","in":"query","required":false,"description":"Sort by creation or last update time.","schema":{"$ref":"#/components/schemas/ContentSort"},"example":"created_at_desc"},"GroupSortParam":{"name":"sort","in":"query","required":false,"description":"Sort groups by name or date.","schema":{"$ref":"#/components/schemas/GroupSort"},"example":"name_asc"},"ChannelContentSortParam":{"name":"sort","in":"query","required":false,"description":"Sort channel contents. Use `position` for the owner's manual\narrangement, or sort by date. Defaults to `position_desc`.\n","schema":{"$ref":"#/components/schemas/ChannelContentSort"},"example":"position_desc"},"ContentTypeFilterParam":{"name":"type","in":"query","required":false,"description":"Filter to a specific content type.","schema":{"$ref":"#/components/schemas/ContentTypeFilter"},"example":"Image"}},"responses":{"UnauthorizedResponse":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFoundResponse":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"ValidationErrorResponse":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"ForbiddenResponse":{"description":"Forbidden - insufficient permissions to access this resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"BadRequestResponse":{"description":"Bad request - missing or invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Bad Request","code":400,"details":{"message":"body is required"}}}}},"UnprocessableEntityResponse":{"description":"Validation failed - the request was well-formed but contained semantic errors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Validation failed","code":422,"details":{"errors":{"title":["can't be blank"]}}}}}},"RateLimitResponse":{"description":"Rate limit exceeded","headers":{"Retry-After":{"description":"Seconds to wait before retrying","schema":{"type":"string"},"example":"65"},"X-RateLimit-Limit":{"description":"Request limit per minute","schema":{"type":"string"},"example":"30"},"X-RateLimit-Tier":{"description":"User's current tier","schema":{"type":"string"},"example":"guest"},"X-RateLimit-Window":{"description":"Time window in seconds","schema":{"type":"string"},"example":"60"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitError"}}}}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"Not Found"},"code":{"type":"integer","description":"HTTP status code","example":404},"details":{"type":"object","description":"Additional error details","properties":{"message":{"type":"string","description":"Detailed error message","example":"The resource you are looking for does not exist."}}}},"required":["error","code"]},"RateLimitError":{"type":"object","description":"Rate limit exceeded error response with upgrade information and suggestions","properties":{"error":{"type":"object","properties":{"type":{"type":"string","example":"rate_limit_exceeded","description":"Error type identifier"},"message":{"type":"string","example":"Rate limit of 30 requests per minute exceeded for guest tier. Try again later.","description":"Human-readable error message"},"tier":{"$ref":"#/components/schemas/UserTier","example":"guest","description":"User's current tier"},"limit":{"type":"integer","example":30,"description":"Request limit per minute for this tier"},"limit_window":{"type":"string","example":"1 minute","description":"Time window for rate limits"},"retry_after":{"type":"integer","example":65,"description":"Suggested seconds to wait before retrying"},"current_status":{"type":"object","properties":{"tier":{"type":"string","example":"guest"},"limits":{"type":"object","example":{"guest":30,"free":120,"premium":300,"supporter":600}},"upgrade_path":{"type":"object","properties":{"current":{"type":"string","example":"Guest (30 req/min)"},"recommended":{"type":"string","example":"Free Account (120 req/min)"},"benefits":{"type":"array","items":{"type":"string"},"example":["4x higher rate limit","Persistent authentication","API access"]},"action":{"type":"string","example":"Sign up at https://are.na/signup"}}}}},"suggestions":{"type":"array","items":{"type":"string"},"example":["Sign up for a free account to get 120 requests per minute","Implement exponential backoff with jitter","Cache responses when possible to reduce API calls","Consider batch requests if available"],"description":"Tier-specific optimization suggestions"},"headers_note":{"type":"string","example":"Check 'X-RateLimit-*' headers on successful requests for current usage","description":"Information about header usage"}},"required":["type","message","tier","limit","retry_after","suggestions"]}},"required":["error"]},"Links":{"type":"object","description":"HATEOAS links for navigation and discovery.\nFollows HAL (Hypertext Application Language) format where link relationships \nare expressed as object keys (e.g., \"self\", \"user\", \"channels\").\n","properties":{"self":{"$ref":"#/components/schemas/Link","description":"Link to the current resource (always present)"}},"required":["self"],"additionalProperties":{"$ref":"#/components/schemas/Link"}},"Link":{"type":"object","description":"A hypermedia link containing the URL of a linked resource.\nThe relationship type is expressed by the key in the parent _links object.\n","properties":{"href":{"type":"string","format":"uri","description":"The URL of the linked resource","example":"https://api.are.na/v3/blocks/12345"}},"required":["href"]},"MarkdownContent":{"type":"object","description":"Markdown content with multiple renderings","properties":{"markdown":{"type":"string","description":"Original markdown value","example":"This is **only** a [test](https://example.com)."},"html":{"type":"string","description":"HTML rendering of the markdown","example":"\u003cp\u003eThis is \u003cstrong\u003eonly\u003c/strong\u003e a \u003ca href=\"https://example.com\" target=\"_blank\" rel=\"nofollow noopener\"\u003etest\u003c/a\u003e.\u003c/p\u003e"},"plain":{"type":"string","description":"Plain text rendering of the markdown","example":"This is only a test (https://example.com)."}},"required":["markdown","html","plain"]},"EmbeddedUser":{"type":"object","description":"Embedded user representation (used when user is nested in other resources)","properties":{"id":{"type":"integer","description":"Unique identifier for the user","example":12345},"type":{"type":"string","description":"User type","enum":["User"],"example":"User"},"name":{"type":"string","description":"User's display name","example":"John Doe"},"slug":{"type":"string","description":"URL-safe identifier (use this in API paths)","example":"john-doe"},"avatar":{"type":["string","null"],"format":"uri","description":"URL to user's avatar image","example":"https://d2w9rnfcy7mm78.cloudfront.net/12345/avatar.jpg"},"initials":{"type":"string","description":"User's initials","example":"JD"}},"required":["id","type","name","slug","avatar","initials"]},"Metadata":{"type":"object","description":"Arbitrary key-value pairs stored on an entity.\nKeys are alphanumeric/underscore, max 40 characters.\nValues are scalars (string, number, boolean). Max 50 keys, 32KB total.\n","additionalProperties":{"oneOf":[{"type":"string","maxLength":2000},{"type":"number"},{"type":"boolean"}]},"maxProperties":50,"example":{"status":"reviewed","score":0.95,"featured":true}},"MetadataInput":{"type":"object","description":"Arbitrary key-value pairs to set on an entity. Uses merge semantics:\nnew keys are added, existing keys are updated, keys set to null are removed.\nKeys must be alphanumeric/underscore, max 40 characters.\nValues must be scalars (string, number, boolean) or null (to delete). Max 50 keys, 32KB total.\n","additionalProperties":{"oneOf":[{"type":"string","maxLength":2000},{"type":"number"},{"type":"boolean"},{"type":"null"}]},"maxProperties":50},"EmbeddedConnection":{"type":"object","description":"Embedded connection representation used when connection is nested in other resources","properties":{"id":{"type":"integer","description":"Unique identifier for the connection","example":98765},"position":{"type":"integer","description":"Position of the item within the channel (1-indexed)","example":1},"pinned":{"type":"boolean","description":"Whether the item is pinned","example":false},"metadata":{"oneOf":[{"$ref":"#/components/schemas/Metadata"},{"type":"null"}],"description":"Custom key-value metadata"},"connected_at":{"type":"string","format":"date-time","description":"When the item was connected","example":"2023-01-15T10:30:00Z"},"connected_by":{"oneOf":[{"$ref":"#/components/schemas/EmbeddedUser"},{"type":"null"}],"description":"User who created this connection"}},"required":["id","position","pinned","connected_at","connected_by"]},"Connection":{"description":"Full connection resource with abilities and links.\nUsed for GET /v3/connections/:id\n","allOf":[{"$ref":"#/components/schemas/EmbeddedConnection"},{"type":"object","properties":{"can":{"$ref":"#/components/schemas/ConnectionAbilities"},"_links":{"$ref":"#/components/schemas/Links"}},"required":["can","_links"]}]},"ConnectionAbilities":{"type":"object","description":"Actions the current user can perform on this connection","properties":{"remove":{"type":"boolean","description":"Whether the user can remove this connection","example":true}},"required":["remove"]},"EmbeddedGroup":{"type":"object","description":"Embedded group representation (used when group is nested in other resources)","properties":{"id":{"type":"integer","description":"Unique identifier for the group","example":67890},"type":{"type":"string","description":"Group type","enum":["Group"],"example":"Group"},"name":{"type":"string","description":"Group's name","example":"Design Team"},"slug":{"type":"string","description":"Group's URL slug","example":"design-team-abc123"},"avatar":{"type":["string","null"],"format":"uri","description":"URL to group's avatar image","example":"https://d2w9rnfcy7mm78.cloudfront.net/groups/67890/avatar.jpg"},"initials":{"type":"string","description":"Group's initials","example":"DT"}},"required":["id","type","name","slug","avatar","initials"]},"User":{"description":"Full user representation","allOf":[{"$ref":"#/components/schemas/EmbeddedUser"},{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","description":"When the user was created","example":"2023-01-15T10:30:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When the user was last updated","example":"2023-06-20T14:45:00Z"},"bio":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"User biography with markdown, HTML, and plain text renderings"},"badge":{"oneOf":[{"$ref":"#/components/schemas/UserBadge"},{"type":"null"}],"description":"Denotes plan or other distinction"},"tier":{"$ref":"#/components/schemas/UserTier","description":"User's subscription tier"},"counts":{"$ref":"#/components/schemas/UserCounts"},"_links":{"$ref":"#/components/schemas/Links","description":"HATEOAS links for navigation"}},"required":["created_at","updated_at","badge","tier","counts","_links"]}]},"UserCounts":{"type":"object","description":"Counts of various items for the user","properties":{"channels":{"type":"integer","description":"Number of channels owned by the user","example":24},"followers":{"type":"integer","description":"Number of followers","example":156},"following":{"type":"integer","description":"Number of users being followed","example":89}},"required":["channels","followers","following"]},"Group":{"description":"Full group representation","allOf":[{"$ref":"#/components/schemas/EmbeddedGroup"},{"type":"object","properties":{"bio":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"Group biography with markdown, HTML, and plain text renderings"},"created_at":{"type":"string","format":"date-time","description":"When the group was created","example":"2023-01-15T10:30:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When the group was last updated","example":"2023-06-20T14:45:00Z"},"user":{"$ref":"#/components/schemas/EmbeddedUser","description":"User who owns/created the group"},"counts":{"$ref":"#/components/schemas/GroupCounts"},"_links":{"$ref":"#/components/schemas/Links","description":"HATEOAS links for navigation"}},"required":["created_at","updated_at","user","counts","_links"]}]},"GroupCounts":{"type":"object","description":"Counts of various items for the group","properties":{"channels":{"type":"integer","description":"Number of channels owned by the group","example":12},"users":{"type":"integer","description":"Number of users in the group","example":5}},"required":["channels","users"]},"UserBadge":{"type":"string","description":"Denotes plan or other distinction:\n- `staff`: Are.na staff member\n- `investor`: Investor\n- `supporter`: Supporter subscriber\n- `premium`: Premium subscriber\n","enum":["staff","investor","supporter","premium"]},"UserTier":{"type":"string","description":"User subscription tier:\n- `guest`: Unauthenticated user\n- `free`: Free account\n- `premium`: Premium subscriber\n- `supporter`: Supporter tier\n","enum":["guest","free","premium","supporter"]},"BlockState":{"type":"string","description":"Processing state of a block.\n- `processing`: Being processed (e.g., image resizing)\n- `available`: Ready for display\n- `failed`: Processing failed\n","enum":["processing","available","failed"]},"BlockVisibility":{"type":"string","description":"Visibility of a block.\n- `public`: Visible to everyone\n- `private`: Only visible to owner\n- `orphan`: Not connected to any channel\n","enum":["public","private","orphan"]},"ChannelState":{"type":"string","description":"Lifecycle state of a channel.\n- `available`: Active and accessible\n- `deleted`: Soft deleted\n","enum":["available","deleted"]},"ConnectionFilter":{"type":"string","description":"Filter connections by who created them.\n- `ALL`: All connections (default)\n- `OWN`: Only connections by the current user\n- `EXCLUDE_OWN`: Exclude connections by the current user\n","enum":["ALL","OWN","EXCLUDE_OWN"]},"FollowableType":{"type":"string","description":"Type of entity that can be followed.\n- `User`: A user\n- `Channel`: A channel\n- `Group`: A group\n","enum":["User","Channel","Group"]},"ConnectableType":{"type":"string","description":"Type of entity that can be connected to a channel.\n- `Block`: A block\n- `Channel`: A channel\n","enum":["Block","Channel"]},"ContentTypeFilter":{"type":"string","description":"Filter by content type.\n- `Text`: Text blocks\n- `Image`: Image blocks\n- `Link`: Link blocks\n- `Attachment`: File attachments\n- `Embed`: Embedded media (video, audio, etc.)\n- `Channel`: Channels only\n- `Block`: All block types (excludes channels)\n","enum":["Text","Image","Link","Attachment","Embed","Channel","Block"]},"SearchTypeFilter":{"type":"string","description":"Filter by content type. Includes users and groups.\n- `All`: Everything (default)\n- `Text`, `Image`, `Link`, `Attachment`, `Embed`: Block types\n- `Block`: All block types\n- `Channel`: Channels only\n- `User`: Users only\n- `Group`: Groups only\n","enum":["All","Text","Image","Link","Attachment","Embed","Channel","Block","User","Group"]},"FileExtension":{"type":"string","description":"File extension for filtering attachment and image blocks.\nCommon values: pdf, jpg, png, gif, mp4, mp3, doc, xls.\n","enum":["aac","ai","aiff","avi","avif","bmp","csv","doc","docx","eps","epub","fla","gif","h264","heic","heif","ind","indd","jpeg","jpg","key","kml","kmz","latex","m4a","ma","mb","mid","midi","mov","mp3","mp4","mp4v","mpeg","mpg","mpg4","numbers","oga","ogg","ogv","otf","pages","pdf","pgp","png","ppt","pptx","psd","svg","swa","swf","tex","texi","texinfo","tfm","tif","tiff","torrent","ttc","ttf","txt","wav","webm","webp","wma","xls","xlsx","xlt"]},"ConnectionSort":{"type":"string","description":"Sort order for relationship lists.\n- `created_at_desc`: Newest first (default)\n- `created_at_asc`: Oldest first\n","enum":["created_at_desc","created_at_asc"]},"ChannelContentSort":{"type":"string","description":"Sort order for channel contents.\n- `position_asc`: Manual order (default)\n- `position_desc`: Manual order, reversed\n- `created_at_desc`: Newest first\n- `created_at_asc`: Oldest first\n- `updated_at_desc`: Recently updated first\n- `updated_at_asc`: Least recently updated first\n","enum":["position_asc","position_desc","created_at_asc","created_at_desc","updated_at_asc","updated_at_desc"]},"ContentSort":{"type":"string","description":"Sort order for user or group content.\n- `created_at_desc`: Newest first (default)\n- `created_at_asc`: Oldest first\n- `updated_at_desc`: Recently updated first\n- `updated_at_asc`: Least recently updated first\n","enum":["created_at_asc","created_at_desc","updated_at_asc","updated_at_desc"]},"GroupSort":{"type":"string","description":"Sort order for groups.\n- `name_asc`: Alphabetical (default)\n- `name_desc`: Reverse alphabetical\n- `created_at_desc`: Newest first\n- `created_at_asc`: Oldest first\n- `updated_at_desc`: Recently updated first\n- `updated_at_asc`: Least recently updated first\n","enum":["name_asc","name_desc","created_at_asc","created_at_desc","updated_at_asc","updated_at_desc"]},"SearchScope":{"type":"string","description":"Limit search to a specific context.\n- `all`: Everything accessible to the user (default)\n- `my`: Only the current user's own content\n- `following`: Content from followed users and channels\n","enum":["all","my","following"]},"SearchSort":{"type":"string","description":"Sort order for search results.\n- `score_desc`: Most relevant first (default)\n- `created_at_desc`: Newest first\n- `created_at_asc`: Oldest first\n- `updated_at_desc`: Recently updated first\n- `updated_at_asc`: Least recently updated first\n- `name_asc`: Alphabetical A-Z\n- `name_desc`: Alphabetical Z-A\n- `connections_count_desc`: Most connected first\n- `random`: Random (use `seed` for reproducibility)\n","enum":["score_desc","created_at_desc","created_at_asc","updated_at_desc","updated_at_asc","name_asc","name_desc","connections_count_desc","random"]},"ChannelVisibility":{"type":"string","description":"Visibility level of a channel:\n- `public`: Anyone can view and connect to the channel\n- `private`: Only the owner and collaborators can view\n- `closed`: Anyone can view, but only collaborators can add content\n","enum":["public","private","closed"]},"Movement":{"type":"string","description":"Movement action for repositioning a connection within a channel.\n\"Top\" refers to the visually first position (newest items appear at the top).\n- `insert_at`: Move to a specific position (requires `position` parameter)\n- `move_to_top`: Move to the visually first position\n- `move_to_bottom`: Move to the visually last position\n- `move_up`: Move one position up (towards the top)\n- `move_down`: Move one position down (towards the bottom)\n","enum":["insert_at","move_to_top","move_to_bottom","move_up","move_down"]},"ChannelIds":{"type":"array","description":"Array of channel IDs or slugs. Accepts numeric IDs, string IDs, or\nchannel slugs (e.g., `[123, \"456\", \"my-channel-slug\"]`).\n","items":{"oneOf":[{"type":"integer"},{"type":"string"}]},"minItems":1,"maxItems":20,"example":[123,"my-channel"]},"ConnectTo":{"type":"object","description":"A channel to connect to, with optional position and connection metadata.\n","required":["id"],"properties":{"id":{"oneOf":[{"type":"integer"},{"type":"string"}],"description":"Channel ID or slug."},"position":{"type":"integer","description":"Position to insert at within this channel (1-indexed)."},"metadata":{"$ref":"#/components/schemas/Metadata","description":"Connection metadata for this specific connection."}}},"PresignedFile":{"type":"object","description":"A presigned S3 upload URL for a single file","properties":{"upload_url":{"type":"string","format":"uri","description":"Presigned S3 PUT URL. Upload your file by sending a PUT request\nto this URL with the file bytes as the body and the `Content-Type`\nheader matching the content_type you specified.\n","example":"https://s3.amazonaws.com/arena_images-temp/uploads/550e8400-e29b-41d4-a716-446655440000/photo.jpg?X-Amz-..."},"key":{"type":"string","description":"The S3 object key where the file will be stored","example":"uploads/550e8400-e29b-41d4-a716-446655440000/photo.jpg"},"content_type":{"type":"string","description":"The content type that was validated and should be used in the PUT request","example":"image/jpeg"}},"required":["upload_url","key","content_type"]},"PresignResponse":{"type":"object","description":"Response containing presigned S3 upload URLs","properties":{"files":{"type":"array","description":"Presigned URLs for each requested file","items":{"$ref":"#/components/schemas/PresignedFile"}},"expires_in":{"type":"integer","description":"Seconds until the presigned URLs expire","example":3600}},"required":["files","expires_in"]},"BlockInput":{"type":"object","description":"Input fields for creating a block","properties":{"value":{"type":"string","description":"The content to create a block from. Can be either:\n- A URL (creates Image, Link, or Embed block based on content type)\n- Text/markdown content (creates a Text block)\n","example":"https://example.com/image.jpg"},"title":{"type":"string","description":"Optional title for the block","example":"My Block Title"},"description":{"type":"string","description":"Optional description (supports markdown)","example":"A description of this block"},"original_source_url":{"type":"string","format":"uri","description":"Original source URL for attribution","example":"https://example.com/123"},"original_source_title":{"type":"string","description":"Title of the original source","example":"Example Source"},"alt_text":{"type":"string","description":"Alt text for images (accessibility)","example":"Beige flags"},"metadata":{"$ref":"#/components/schemas/Metadata","description":"Custom key-value metadata to set on the new block."}},"required":["value"]},"BatchResponse":{"type":"object","description":"Response returned when a batch is accepted for processing","properties":{"batch_id":{"type":"string","format":"uuid","description":"Unique identifier for this batch","example":"550e8400-e29b-41d4-a716-446655440000"},"status":{"type":"string","enum":["pending"],"description":"Initial status of the batch"},"total":{"type":"integer","description":"Total number of blocks queued for creation","example":10}},"required":["batch_id","status","total"]},"BatchStatus":{"type":"object","description":"Current status of a batch processing job","properties":{"batch_id":{"type":"string","format":"uuid","description":"Unique identifier for this batch"},"status":{"type":"string","enum":["pending","processing","completed","failed"],"description":"Current processing status"},"total":{"type":"integer","description":"Total number of blocks in the batch"},"successful_count":{"type":"integer","description":"Number of blocks created so far"},"failed_count":{"type":"integer","description":"Number of blocks that failed"},"successful":{"type":"array","description":"Successfully created blocks","items":{"type":"object","properties":{"index":{"type":"integer","description":"Original index in the request array"},"block_id":{"type":"integer","description":"ID of the created block"}},"required":["index","block_id"]}},"failed":{"type":"array","description":"Blocks that failed to create","items":{"type":"object","properties":{"index":{"type":"integer","description":"Original index in the request array"},"error":{"type":"string","description":"Error message"}},"required":["index","error"]}},"created_at":{"type":"string","format":"date-time","description":"When the batch was submitted"},"completed_at":{"type":"string","format":"date-time","description":"When the batch finished processing (present when completed or failed)"},"error":{"type":"string","description":"Top-level error message if the entire batch failed"}},"required":["batch_id","status","total","successful_count","failed_count"]},"Block":{"description":"A block is a piece of content on Are.na. Blocks come in different types,\neach with its own set of fields. Use the `type` field to determine which\nfields are available.\n","oneOf":[{"$ref":"#/components/schemas/TextBlock"},{"$ref":"#/components/schemas/ImageBlock"},{"$ref":"#/components/schemas/LinkBlock"},{"$ref":"#/components/schemas/AttachmentBlock"},{"$ref":"#/components/schemas/EmbedBlock"},{"$ref":"#/components/schemas/PendingBlock"}],"discriminator":{"propertyName":"type","mapping":{"Text":"#/components/schemas/TextBlock","Image":"#/components/schemas/ImageBlock","Link":"#/components/schemas/LinkBlock","Attachment":"#/components/schemas/AttachmentBlock","Embed":"#/components/schemas/EmbedBlock","PendingBlock":"#/components/schemas/PendingBlock"}}},"BaseBlockProperties":{"type":"object","description":"Common properties shared by all block types","properties":{"id":{"type":"integer","description":"Unique identifier for the block","example":12345},"base_type":{"type":"string","description":"Base type of the block (always \"Block\")","enum":["Block"],"example":"Block"},"title":{"type":["string","null"],"description":"Block title","example":"Interesting Article"},"description":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"Block description with multiple renderings"},"state":{"$ref":"#/components/schemas/BlockState","example":"available"},"visibility":{"$ref":"#/components/schemas/BlockVisibility","example":"public"},"comment_count":{"type":"integer","description":"Number of comments on the block","example":5},"created_at":{"type":"string","format":"date-time","description":"When the block was created","example":"2023-01-15T10:30:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When the block was last updated","example":"2023-01-15T14:45:00Z"},"user":{"$ref":"#/components/schemas/EmbeddedUser"},"metadata":{"oneOf":[{"$ref":"#/components/schemas/Metadata"},{"type":"null"}],"description":"Custom key-value metadata"},"source":{"oneOf":[{"$ref":"#/components/schemas/BlockSource"},{"type":"null"}],"description":"Source URL and metadata (if block was created from a URL)"},"_links":{"$ref":"#/components/schemas/Links","description":"HATEOAS links for navigation"},"connection":{"oneOf":[{"$ref":"#/components/schemas/EmbeddedConnection"},{"type":"null"}],"description":"Connection context (only present when block is returned as part of channel contents).\nContains position, pinned status, and information about who connected the block.\n"},"can":{"oneOf":[{"$ref":"#/components/schemas/BlockAbilities"},{"type":"null"}],"description":"Abilities object (only present for full block responses, not in channel contents).\nIndicates what actions the current user can perform on this block.\n"}},"required":["id","base_type","state","visibility","comment_count","created_at","updated_at","user","_links"]},"BlockAbilities":{"type":"object","description":"Actions the current user can perform on the block","properties":{"manage":{"type":"boolean","description":"Whether the user can manage (update/delete) this block","example":true},"comment":{"type":"boolean","description":"Whether the user can comment on this block","example":true},"connect":{"type":"boolean","description":"Whether the user can connect this block to channels","example":true}},"required":["manage","comment","connect"]},"TextBlock":{"description":"A text block containing markdown content","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["Text"],"description":"Block type (always \"Text\" for TextBlock)"},"content":{"$ref":"#/components/schemas/MarkdownContent","description":"Text content with markdown, HTML, and plain text renderings"}},"required":["type","content"]}]},"ImageBlock":{"description":"An image block containing an uploaded or scraped image","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["Image"],"description":"Block type (always \"Image\" for ImageBlock)"},"image":{"$ref":"#/components/schemas/BlockImage","description":"Image data with multiple resolutions"}},"required":["type","image"]}]},"LinkBlock":{"description":"A link block representing a URL with optional preview","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["Link"],"description":"Block type (always \"Link\" for LinkBlock)"},"image":{"oneOf":[{"$ref":"#/components/schemas/BlockImage"},{"type":"null"}],"description":"Preview image (if available)"},"content":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"Extracted text content from the link"}},"required":["type"]}]},"AttachmentBlock":{"description":"An attachment block containing an uploaded file","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["Attachment"],"description":"Block type (always \"Attachment\" for AttachmentBlock)"},"attachment":{"$ref":"#/components/schemas/BlockAttachment","description":"Attachment file data"},"image":{"oneOf":[{"$ref":"#/components/schemas/BlockImage"},{"type":"null"}],"description":"Preview image (for PDFs and other previewable files)"}},"required":["type","attachment"]}]},"EmbedBlock":{"description":"An embed block containing embedded media (video, audio, etc.)","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["Embed"],"description":"Block type (always \"Embed\" for EmbedBlock)"},"embed":{"$ref":"#/components/schemas/BlockEmbed","description":"Embed data including HTML and dimensions"},"image":{"oneOf":[{"$ref":"#/components/schemas/BlockImage"},{"type":"null"}],"description":"Thumbnail image (if available)"}},"required":["type","embed"]}]},"PendingBlock":{"description":"A block that is currently being processed. The final type (Text, Image, Link, etc.)\nwill be determined once processing completes. Check the `state` field for processing status.\n","allOf":[{"$ref":"#/components/schemas/BaseBlockProperties"},{"type":"object","properties":{"type":{"type":"string","enum":["PendingBlock"],"description":"Block type (always \"PendingBlock\" for blocks being processed)"}},"required":["type"]}]},"BlockSource":{"type":"object","properties":{"url":{"type":"string","format":"uri","description":"Source URL","example":"https://example.com/article"},"title":{"type":["string","null"],"description":"Source title","example":"Original Article Title"},"provider":{"oneOf":[{"$ref":"#/components/schemas/BlockProvider"},{"type":"null"}]}},"required":["url"]},"BlockProvider":{"type":"object","properties":{"name":{"type":"string","description":"Provider name (from parsed URI host)","example":"Example.com"},"url":{"type":"string","format":"uri","description":"Provider URL (from parsed URI scheme and host)","example":"https://example.com"}},"required":["name","url"]},"BlockImage":{"type":"object","properties":{"alt_text":{"type":["string","null"],"description":"Alternative text associated with the image","example":"Scanned collage of magazine cutouts"},"blurhash":{"type":["string","null"],"description":"BlurHash representation of the image for progressive loading","example":"LEHV6nWB2yk8pyo0adR*.7kCMdnj"},"width":{"type":["integer","null"],"description":"Original image width in pixels","example":1920},"height":{"type":["integer","null"],"description":"Original image height in pixels","example":1080},"src":{"type":"string","format":"uri","description":"URL to the original image","example":"https://d2w9rnfcy7mm78.cloudfront.net/12345/original_image.jpg"},"aspect_ratio":{"type":["number","null"],"format":"float","description":"Image aspect ratio (width / height)","example":1.7778},"content_type":{"type":"string","description":"Image content type","example":"image/jpeg"},"filename":{"type":"string","description":"Image filename","example":"image.jpg"},"file_size":{"type":["integer","null"],"description":"File size in bytes","example":1024000},"updated_at":{"type":"string","format":"date-time","description":"When the image was last updated","example":"2023-01-15T14:45:00Z"},"small":{"$ref":"#/components/schemas/ImageVersion","description":"Small image version (thumb)"},"medium":{"$ref":"#/components/schemas/ImageVersion","description":"Medium image version (display)"},"large":{"$ref":"#/components/schemas/ImageVersion","description":"Large image version"},"square":{"$ref":"#/components/schemas/ImageVersion","description":"Square cropped image version"}},"required":["small","medium","large","square"]},"ImageVersion":{"type":"object","description":"A resized/processed version of an image with multiple resolution URLs","properties":{"src":{"type":"string","format":"uri","description":"Default image URL (1x resolution)","example":"https://d2w9rnfcy7mm78.cloudfront.net/12345/display_image.jpg"},"src_2x":{"type":"string","format":"uri","description":"2x resolution image URL for high DPI displays","example":"https://d2w9rnfcy7mm78.cloudfront.net/12345/display_image@2x.jpg"},"width":{"type":["integer","null"],"description":"Width of the resized image in pixels","example":640},"height":{"type":["integer","null"],"description":"Height of the resized image in pixels","example":480}},"required":["src","src_2x"]},"BlockEmbed":{"type":"object","properties":{"url":{"type":["string","null"],"format":"uri","description":"Embed URL","example":"https://www.youtube.com/embed/abc123"},"type":{"type":["string","null"],"description":"Embed type","example":"youtube"},"title":{"type":["string","null"],"description":"Embed title","example":"Video Title"},"author_name":{"type":["string","null"],"description":"Author name","example":"Author Name"},"author_url":{"type":["string","null"],"format":"uri","description":"Author URL","example":"https://example.com/author"},"source_url":{"type":["string","null"],"format":"uri","description":"Embed source URL","example":"https://www.youtube.com/watch?v=abc123"},"width":{"type":["integer","null"],"description":"Embed width","example":640},"height":{"type":["integer","null"],"description":"Embed height","example":480},"html":{"type":["string","null"],"description":"Embed HTML","example":"\u003ciframe src='...'\u003e\u003c/iframe\u003e"},"thumbnail_url":{"type":["string","null"],"format":"uri","description":"Thumbnail URL","example":"https://example.com/thumbnail.jpg"}}},"BlockAttachment":{"type":"object","properties":{"filename":{"type":["string","null"],"description":"Attachment filename","example":"document.pdf"},"content_type":{"type":["string","null"],"description":"Attachment content type","example":"application/pdf"},"file_size":{"type":["integer","null"],"description":"File size in bytes","example":2048000},"file_extension":{"type":["string","null"],"description":"File extension","example":"pdf"},"updated_at":{"type":["string","null"],"format":"date-time","description":"When the attachment was last updated"},"url":{"type":"string","format":"uri","description":"Attachment download URL","example":"https://attachments.are.na/12345/document.pdf"}},"required":["url"]},"Comment":{"type":"object","description":"A comment on a block","properties":{"id":{"type":"integer","description":"Unique identifier for the comment","example":12345},"type":{"type":"string","description":"Comment type","enum":["Comment"],"example":"Comment"},"body":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"Comment body with markdown, HTML, and plain text renderings"},"created_at":{"type":"string","format":"date-time","description":"When the comment was created","example":"2023-01-15T10:30:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When the comment was last updated","example":"2023-01-15T14:45:00Z"},"user":{"$ref":"#/components/schemas/EmbeddedUser"},"_links":{"allOf":[{"$ref":"#/components/schemas/Links"},{"description":"HATEOAS links for navigation"}]}},"required":["id","type","created_at","updated_at","user","_links"]},"Channel":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the channel","example":12345},"type":{"type":"string","description":"Channel type","enum":["Channel"],"example":"Channel"},"slug":{"type":"string","description":"Channel URL slug","example":"my-collection-abc123"},"title":{"type":"string","description":"Channel title","example":"My Collection"},"description":{"oneOf":[{"$ref":"#/components/schemas/MarkdownContent"},{"type":"null"}],"description":"Channel description with multiple renderings"},"state":{"$ref":"#/components/schemas/ChannelState","example":"available"},"visibility":{"$ref":"#/components/schemas/ChannelVisibility"},"created_at":{"type":"string","format":"date-time","description":"When the channel was created","example":"2023-01-15T10:30:00Z"},"updated_at":{"type":"string","format":"date-time","description":"When the channel was last updated","example":"2023-01-15T14:45:00Z"},"metadata":{"oneOf":[{"$ref":"#/components/schemas/Metadata"},{"type":"null"}],"description":"Custom key-value metadata"},"owner":{"$ref":"#/components/schemas/ChannelOwner"},"counts":{"$ref":"#/components/schemas/ChannelCounts"},"collaborators":{"type":"array","description":"Collaborators on this channel (users and groups).\nOnly present when channel is returned as a full resource, not when embedded.\n","items":{"$ref":"#/components/schemas/ChannelCollaborator"}},"_links":{"allOf":[{"$ref":"#/components/schemas/Links"},{"description":"HATEOAS links for navigation"}]},"connection":{"oneOf":[{"$ref":"#/components/schemas/EmbeddedConnection"},{"type":"null"}],"description":"Connection context (only present when channel is returned as part of another channel's contents).\nContains position, pinned status, and information about who connected the channel.\n"},"can":{"oneOf":[{"$ref":"#/components/schemas/ChannelAbilities"},{"type":"null"}],"description":"Actions the current user can perform on this channel.\nOnly present when channel is returned as a full resource, not when embedded.\n"}},"required":["id","type","slug","title","state","visibility","created_at","updated_at","owner","counts","_links"]},"ChannelOwner":{"description":"Channel owner (User or Group)","oneOf":[{"$ref":"#/components/schemas/EmbeddedUser"},{"$ref":"#/components/schemas/EmbeddedGroup"}],"discriminator":{"propertyName":"type","mapping":{"User":"#/components/schemas/EmbeddedUser","Group":"#/components/schemas/EmbeddedGroup"}}},"ChannelCollaborator":{"description":"Channel collaborator (User or Group)","oneOf":[{"$ref":"#/components/schemas/EmbeddedUser"},{"$ref":"#/components/schemas/EmbeddedGroup"}],"discriminator":{"propertyName":"type","mapping":{"User":"#/components/schemas/EmbeddedUser","Group":"#/components/schemas/EmbeddedGroup"}}},"ChannelAbilities":{"type":"object","description":"Actions the current user can perform on the channel","properties":{"add_to":{"type":"boolean","description":"Whether the user can add blocks to this channel","example":true},"update":{"type":"boolean","description":"Whether the user can update this channel","example":false},"destroy":{"type":"boolean","description":"Whether the user can delete this channel","example":false},"manage_collaborators":{"type":"boolean","description":"Whether the user can add/remove collaborators","example":false}},"required":["add_to","update","destroy","manage_collaborators"]},"ChannelCounts":{"type":"object","description":"Counts of various items in the channel","properties":{"blocks":{"type":"integer","description":"Number of blocks in the channel","example":42},"channels":{"type":"integer","description":"Number of channels connected to this channel","example":8},"contents":{"type":"integer","description":"Total number of contents (blocks + channels)","example":50},"collaborators":{"type":"integer","description":"Number of collaborators on the channel","example":3}},"required":["blocks","channels","contents","collaborators"]},"PaginationMeta":{"type":"object","description":"Pagination metadata","properties":{"current_page":{"type":"integer","description":"Current page number","example":1},"next_page":{"type":["integer","null"],"description":"Next page number (null if last page)","example":2},"prev_page":{"type":["integer","null"],"description":"Previous page number (null if first page)"},"per_page":{"type":"integer","description":"Number of items per page","example":25},"total_pages":{"type":"integer","description":"Total number of pages available","example":5},"total_count":{"type":"integer","description":"Total number of items available","example":120},"has_more_pages":{"type":"boolean","description":"Whether there are more pages available","example":true}},"required":["current_page","per_page","total_pages","total_count","has_more_pages"]},"PaginatedResponse":{"type":"object","description":"Base schema for all paginated responses (use allOf to extend with specific data type)","properties":{"meta":{"$ref":"#/components/schemas/PaginationMeta"}},"required":["data","meta"]},"UserList":{"type":"object","description":"Data payload containing an array of users","properties":{"data":{"type":"array","description":"Array of users","items":{"$ref":"#/components/schemas/User"}}},"required":["data"]},"ChannelList":{"type":"object","description":"Data payload containing an array of channels","properties":{"data":{"type":"array","description":"Array of channels","items":{"$ref":"#/components/schemas/Channel"}}},"required":["data"]},"ConnectableList":{"type":"object","description":"Data payload containing mixed content that can be connected to channels (blocks and channels)","properties":{"data":{"type":"array","description":"Array of blocks and channels","items":{"oneOf":[{"$ref":"#/components/schemas/TextBlock"},{"$ref":"#/components/schemas/ImageBlock"},{"$ref":"#/components/schemas/LinkBlock"},{"$ref":"#/components/schemas/AttachmentBlock"},{"$ref":"#/components/schemas/EmbedBlock"},{"$ref":"#/components/schemas/Channel"}]}}},"required":["data"]},"FollowableList":{"type":"object","description":"Data payload containing followable items (users, channels, and groups)","properties":{"data":{"type":"array","description":"Array of users, channels, and/or groups","items":{"oneOf":[{"$ref":"#/components/schemas/User"},{"$ref":"#/components/schemas/Channel"},{"$ref":"#/components/schemas/Group"}]}}},"required":["data"]},"EverythingList":{"type":"object","description":"Data payload containing all content types","properties":{"data":{"type":"array","description":"Array of results (blocks, channels, users, or groups)","items":{"oneOf":[{"$ref":"#/components/schemas/TextBlock"},{"$ref":"#/components/schemas/ImageBlock"},{"$ref":"#/components/schemas/LinkBlock"},{"$ref":"#/components/schemas/AttachmentBlock"},{"$ref":"#/components/schemas/EmbedBlock"},{"$ref":"#/components/schemas/Channel"},{"$ref":"#/components/schemas/User"},{"$ref":"#/components/schemas/Group"}]}}},"required":["data"]},"UserListResponse":{"description":"Paginated list of users with total count","allOf":[{"$ref":"#/components/schemas/UserList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"ChannelListResponse":{"description":"Paginated list of channels with total count","allOf":[{"$ref":"#/components/schemas/ChannelList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"GroupList":{"type":"object","description":"Data payload containing an array of groups","properties":{"data":{"type":"array","description":"Array of groups","items":{"$ref":"#/components/schemas/Group"}}},"required":["data"]},"GroupListResponse":{"description":"Paginated list of groups with total count","allOf":[{"$ref":"#/components/schemas/GroupList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"ConnectableListResponse":{"description":"Paginated list of connectable content (blocks and channels)","allOf":[{"$ref":"#/components/schemas/ConnectableList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"FollowableListResponse":{"description":"Paginated list of followable items (users, channels, and groups) with total count","allOf":[{"$ref":"#/components/schemas/FollowableList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"EverythingListResponse":{"description":"Paginated list of all content types with total count","allOf":[{"$ref":"#/components/schemas/EverythingList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"CommentList":{"type":"object","description":"Data payload containing an array of comments","properties":{"data":{"type":"array","description":"Array of comments","items":{"$ref":"#/components/schemas/Comment"}}},"required":["data"]},"CommentListResponse":{"description":"Paginated list of comments with total count","allOf":[{"$ref":"#/components/schemas/CommentList"},{"$ref":"#/components/schemas/PaginatedResponse"}]},"PingResponse":{"type":"object","description":"Health check response","properties":{"status":{"type":"string","enum":["ok"],"example":"ok"}},"required":["status"]}}},"paths":{"/v3/oauth/token":{"post":{"summary":"Obtain access token","description":"Exchange credentials for an access token. This is the OAuth 2.0 token endpoint.\n\n**Supported Grant Types:**\n\n- `authorization_code`: Exchange an authorization code for an access token\n- `authorization_code` + PKCE: For public clients without a client secret\n- `client_credentials`: Authenticate as your application (server-to-server)\n\n**PKCE Support:** For public clients (mobile apps, SPAs), use PKCE:\n1. Generate a random `code_verifier` (43-128 chars, alphanumeric + `-._~`)\n2. Create `code_challenge` = Base64URL(SHA256(code_verifier))\n3. In the authorization request to `https://www.are.na/oauth/authorize`, include:\n   - `code_challenge`: The generated challenge\n   - `code_challenge_method`: `S256`\n4. When exchanging the code at this endpoint, include `code_verifier`\n\nSee [RFC 7636](https://tools.ietf.org/html/rfc7636) for details.\n\nAccess tokens do not expire and can be used indefinitely. Register your application\nat [are.na/oauth/applications](https://www.are.na/oauth/applications) to obtain client credentials.\n","operationId":"createOAuthToken","tags":["Authentication"],"security":[],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["grant_type"],"properties":{"grant_type":{"type":"string","enum":["authorization_code","client_credentials"],"description":"The OAuth 2.0 grant type"},"client_id":{"type":"string","description":"Your application's client ID (required for all grant types)"},"client_secret":{"type":"string","description":"Your application's client secret (required for confidential clients, omit for PKCE)"},"code":{"type":"string","description":"Authorization code (required for authorization_code grant)"},"redirect_uri":{"type":"string","format":"uri","description":"Redirect URI used in authorization request (required for authorization_code grant)"},"code_verifier":{"type":"string","description":"PKCE code verifier (required when authorization used code_challenge).\nMust be 43-128 characters from [A-Z], [a-z], [0-9], \"-\", \".\", \"_\", \"~\".\n"}}},"examples":{"client_credentials":{"summary":"Client Credentials Grant","description":"Server-to-server authentication","value":{"grant_type":"client_credentials","client_id":"your_client_id","client_secret":"your_client_secret"}},"authorization_code":{"summary":"Authorization Code Grant","description":"Exchange authorization code for token (confidential client)","value":{"grant_type":"authorization_code","client_id":"your_client_id","client_secret":"your_client_secret","code":"authorization_code_from_redirect","redirect_uri":"https://your-app.com/callback"}},"authorization_code_pkce":{"summary":"Authorization Code + PKCE","description":"Exchange authorization code for token (public client with PKCE)","value":{"grant_type":"authorization_code","client_id":"your_client_id","code":"authorization_code_from_redirect","redirect_uri":"https://your-app.com/callback","code_verifier":"dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"}}}}}},"responses":{"200":{"description":"Access token granted","content":{"application/json":{"schema":{"type":"object","required":["access_token","token_type","scope","created_at"],"properties":{"access_token":{"type":"string","description":"The access token to use for API requests"},"token_type":{"type":"string","enum":["Bearer"],"description":"Token type (always \"Bearer\")"},"scope":{"type":"string","description":"Granted scopes (space-separated)","example":"write"},"created_at":{"type":"integer","description":"Unix timestamp when the token was created"}}},"example":{"access_token":"abc123def456...","token_type":"Bearer","scope":"write","created_at":1702900000}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type"]},"error_description":{"type":"string"}}},"examples":{"invalid_grant":{"summary":"Invalid grant","value":{"error":"invalid_grant","error_description":"The provided authorization grant is invalid, expired, or revoked."}},"unsupported_grant_type":{"summary":"Unsupported grant type","value":{"error":"unsupported_grant_type","error_description":"The authorization grant type is not supported."}}}}}},"401":{"description":"Invalid client credentials","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client"},"error_description":{"type":"string","example":"Client authentication failed due to unknown client or invalid credentials."}}}}}}}}},"/v3/openapi":{"get":{"summary":"Get OpenAPI specification","description":"Returns the OpenAPI 3.0 specification for this API in YAML format. This endpoint provides the complete API contract for programmatic access and documentation generation.","operationId":"getOpenapiSpec","tags":["System"],"responses":{"200":{"description":"OpenAPI specification in YAML format","content":{"application/yaml":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/NotFoundResponse"}}}},"/v3/openapi.json":{"get":{"summary":"Get OpenAPI specification (JSON)","description":"Returns the OpenAPI 3.0 specification for this API in JSON format. This endpoint provides the complete API contract in JSON for tools that prefer JSON over YAML.","operationId":"getOpenapiSpecJson","tags":["System"],"responses":{"200":{"description":"OpenAPI specification in JSON format","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#/components/responses/NotFoundResponse"}}}},"/v3/ping":{"get":{"summary":"Ping endpoint","operationId":"getPing","description":"Public utility endpoint for API health checks and connection testing.","tags":["System"],"responses":{"200":{"description":"Ping response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}},"headers":{"X-RateLimit-Limit":{"description":"Request limit per minute for this user's tier","schema":{"type":"string"},"example":"120"},"X-RateLimit-Tier":{"description":"User's current tier","schema":{"type":"string"},"example":"free"}}},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/uploads/presign":{"post":{"summary":"Get a presigned upload URL","description":"Returns presigned S3 PUT URLs for direct file upload. Use this to upload\nfiles (images, attachments) without sending them through the API server.\nSupports up to 50 files per request.\n\n**Upload flow:**\n1. Call this endpoint with an array of files (filename + content type)\n2. PUT each file's bytes to its returned `upload_url` with the matching `Content-Type` header\n3. Create blocks via `POST /v3/blocks` with `value` set to the S3 URL:\n   `https://s3.amazonaws.com/arena_images-temp/\u003ckey\u003e`\n\nPresigned URLs expire after 1 hour.\n\n**Authentication required.**\n","operationId":"presignUpload","tags":["Uploads"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"files":{"type":"array","description":"Array of files to generate presigned URLs for","minItems":1,"maxItems":50,"items":{"type":"object","properties":{"filename":{"type":"string","description":"Name of the file to upload","example":"photo.jpg"},"content_type":{"type":"string","description":"MIME type of the file","example":"image/jpeg"}},"required":["filename","content_type"]}}},"required":["files"]},"examples":{"single_file":{"summary":"Presign a single image upload","value":{"files":[{"filename":"photo.jpg","content_type":"image/jpeg"}]}},"multiple_files":{"summary":"Presign multiple uploads","value":{"files":[{"filename":"photo1.jpg","content_type":"image/jpeg"},{"filename":"photo2.png","content_type":"image/png"},{"filename":"document.pdf","content_type":"application/pdf"}]}}}}}},"responses":{"201":{"description":"Presigned URLs generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignResponse"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks":{"post":{"summary":"Create a block","description":"Creates a new block and connects it to one or more channels.\n\nThe `value` field accepts either a URL or text content:\n- If `value` is a valid URL, the block type is inferred (Image, Link, Embed, etc.)\n- If `value` is plain text, a Text block is created\n\nYou can connect the block to multiple channels at once (up to 20).\n\nSpecify target channels using either `channels` (preferred) or `channel_ids` (legacy), but not both.\nThe `channels` form allows per-channel position and connection metadata.\n\n**Authentication required.**\n","operationId":"createBlock","tags":["Blocks"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BlockInput"},{"oneOf":[{"type":"object","description":"Legacy form: flat channel_ids array","properties":{"channel_ids":{"$ref":"#/components/schemas/ChannelIds"},"insert_at":{"type":"integer","description":"Position to insert the block in the channel (1-indexed).\nOnly valid when connecting to a single channel.\n","example":1}},"required":["channel_ids"],"not":{"required":["channels"]}},{"type":"object","description":"Structured form: per-channel position and connection metadata","properties":{"channels":{"type":"array","description":"Target channels with optional per-channel position and connection metadata.","items":{"$ref":"#/components/schemas/ConnectTo"},"minItems":1,"maxItems":20}},"required":["channels"],"not":{"anyOf":[{"required":["channel_ids"]},{"required":["insert_at"]}]}}]}]},"examples":{"text_block":{"summary":"Create a text block (legacy)","value":{"value":"This is a **text** block with markdown","channel_ids":[123],"title":"My Text Block"}},"with_channels":{"summary":"Create with per-channel metadata","value":{"value":"https://example.com/image.jpg","channels":[{"id":123,"position":1,"metadata":{"source":"import"}},{"id":456}]}},"link_block":{"summary":"Create a link block (legacy)","value":{"value":"https://example.com/article","channel_ids":[123],"title":"Interesting Article","description":"Found this interesting article","original_source_url":"https://example.com/article","original_source_title":"Example Article"}}}}}},"responses":{"201":{"description":"Block created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}}},"400":{"$ref":"#/components/responses/ValidationErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"description":"Cannot add to one or more channels","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks/batch":{"post":{"summary":"Batch create blocks","description":"Queues multiple blocks for asynchronous creation and connects them to one\nor more channels. Returns immediately with a `batch_id` that can be used\nto poll for status via `GET /v3/blocks/batch/{batch_id}`.\n\nDesigned for import use cases such as migrating from other services\nor re-importing Are.na exports.\n\nEach block in the `blocks` array follows the same format as single block\ncreation. Blocks are processed sequentially in the background and partial\nsuccess is supported — if some blocks fail, the successful ones are still\ncreated.\n\n**Limits:**\n- Maximum 50 blocks per request\n- Maximum 20 channels per request\n- All channels must be **private**\n\n**Batch results are available for 24 hours after submission.**\n\n**⚠️ Premium Only**: This endpoint requires a Premium subscription.\n","operationId":"batchCreateBlocks","tags":["Blocks"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"channel_ids":{"$ref":"#/components/schemas/ChannelIds"},"blocks":{"type":"array","description":"Array of blocks to create","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/BlockInput"}}},"required":["channel_ids","blocks"]},"examples":{"mixed_blocks":{"summary":"Import mixed content types","value":{"channel_ids":[123],"blocks":[{"value":"https://example.com/image1.jpg","title":"First image","alt_text":"A landscape photo"},{"value":"https://example.com/image2.jpg","original_source_url":"https://example.com/123","original_source_title":"Example"},{"value":"Some text content to import","title":"Text note"}]}}}}}},"responses":{"202":{"description":"Batch accepted for processing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"description":"Forbidden — requires Premium subscription, or cannot add to one or more channels","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks/batch/{batch_id}":{"get":{"summary":"Get batch status","description":"Returns the current status of a batch block creation job.\nPoll this endpoint to track progress and retrieve results.\n\nBatch results are available for 24 hours after submission.\n\n**⚠️ Premium Only**: This endpoint requires a Premium subscription.\n","operationId":"getBatchStatus","tags":["Blocks"],"security":[{"BearerAuth":[]},{"OAuth2":["read"]}],"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The batch ID returned from the batch create endpoint"}],"responses":{"200":{"description":"Batch status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchStatus"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks/{id}":{"get":{"summary":"Get a block","description":"Returns detailed information about a specific block by its ID. Respects visibility rules and user permissions.","operationId":"getBlock","tags":["Blocks"],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"responses":{"200":{"description":"Block details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"put":{"summary":"Update a block","description":"Updates a block's metadata. Only the block owner can update it.\n\n**Authentication required.**\n","operationId":"updateBlock","tags":["Blocks"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":"Block title","example":"Updated Title"},"description":{"type":"string","description":"Block description (supports markdown)","example":"Updated description with **markdown**"},"content":{"type":"string","description":"Text content (for Text blocks only, supports markdown)","example":"Updated text content"},"alt_text":{"type":"string","description":"Alt text for images (for Image blocks)","example":"A descriptive alt text for accessibility"},"metadata":{"$ref":"#/components/schemas/MetadataInput","description":"Custom key-value metadata. Uses merge semantics: new keys are added,\nexisting keys are updated, keys set to null are removed.\n"}}}}}},"responses":{"200":{"description":"Block updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}}},"400":{"$ref":"#/components/responses/ValidationErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks/{id}/connections":{"get":{"summary":"Get block connections","operationId":"getBlockConnections","description":"Returns paginated list of channels where this block appears.\nThis shows all channels that contain this block, respecting visibility rules and user permissions.\n","tags":["Blocks"],"parameters":[{"$ref":"#/components/parameters/IdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"},{"name":"filter","in":"query","required":false,"description":"Filter connections by ownership.","schema":{"$ref":"#/components/schemas/ConnectionFilter","default":"ALL"},"example":"ALL"}],"responses":{"200":{"description":"List of channels where this block appears","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/blocks/{id}/comments":{"get":{"summary":"Get block comments","operationId":"getBlockComments","description":"Returns paginated list of comments on this block.\nComments are ordered by creation date (ascending by default, oldest first).\n","tags":["Blocks"],"parameters":[{"$ref":"#/components/parameters/IdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"}],"responses":{"200":{"description":"List of comments on this block","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"post":{"summary":"Create a comment","operationId":"createBlockComment","description":"Creates a new comment on a block.\n\n**Authentication required.**\n\nYou can mention users in the comment body using `@username` syntax.\n","tags":["Blocks"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["body"],"properties":{"body":{"type":"string","description":"Comment body (supports @mentions)","example":"This is a great block! @username"}}}}}},"responses":{"201":{"description":"Comment created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/comments/{id}":{"delete":{"summary":"Delete a comment","operationId":"deleteComment","description":"Deletes a comment. Only the comment author can delete their comments.\n\n**Authentication required.**\n","tags":["Comments"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"responses":{"204":{"description":"Comment deleted successfully"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/channels":{"post":{"summary":"Create a channel","description":"Creates a new channel owned by the authenticated user or a group they belong to.\n\n**Authentication required.**\n","operationId":"createChannel","tags":["Channels"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title"],"properties":{"title":{"type":"string","description":"Channel title","example":"My New Channel"},"visibility":{"$ref":"#/components/schemas/ChannelVisibility","default":"closed"},"description":{"type":"string","description":"Channel description (supports markdown)","example":"A collection of interesting links"},"group_id":{"type":"integer","description":"Group ID to create the channel under. The authenticated user must be a member of the group.\nIf not provided, the channel is owned by the authenticated user.\n","example":12345},"metadata":{"$ref":"#/components/schemas/Metadata","description":"Custom key-value metadata to set on the new channel."}}},"examples":{"simple":{"summary":"Simple channel","value":{"title":"My New Channel"}},"with_visibility":{"summary":"Private channel","value":{"title":"Private Research","visibility":"private","description":"My private research notes"}},"group_channel":{"summary":"Group-owned channel","value":{"title":"Team Resources","visibility":"closed","group_id":12345}}}}}},"responses":{"201":{"description":"Channel created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}},"400":{"$ref":"#/components/responses/ValidationErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/channels/{id}":{"get":{"summary":"Get a channel","description":"Returns detailed information about a specific channel by its ID or slug. Respects visibility rules and user permissions.","operationId":"getChannel","tags":["Channels"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"}],"responses":{"200":{"description":"Channel details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"put":{"summary":"Update a channel","description":"Updates an existing channel. Only provided fields are updated.\n\n**Authentication required.**\n","operationId":"updateChannel","tags":["Channels"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","description":"Channel title","example":"Updated Channel Title"},"visibility":{"$ref":"#/components/schemas/ChannelVisibility"},"description":{"type":["string","null"],"description":"Channel description (supports markdown). Pass null to clear.","example":"Updated description"},"metadata":{"$ref":"#/components/schemas/MetadataInput","description":"Custom key-value metadata. Uses merge semantics: new keys are added,\nexisting keys are updated, keys set to null are removed.\n"}}},"examples":{"update_title":{"summary":"Update title only","value":{"title":"New Title"}},"update_visibility":{"summary":"Make channel private","value":{"visibility":"private"}},"update_multiple":{"summary":"Update multiple fields","value":{"title":"Research Notes","visibility":"closed","description":"A collection of research materials"}}}}}},"responses":{"200":{"description":"Channel updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}},"400":{"$ref":"#/components/responses/ValidationErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"delete":{"summary":"Delete a channel","description":"Deletes a channel. This can not be undone.\n\n**Authentication required.**\n","operationId":"deleteChannel","tags":["Channels"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"}],"responses":{"204":{"description":"Channel deleted successfully"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/connections":{"post":{"summary":"Create a connection","operationId":"createConnection","description":"Connects a block or channel to one or more channels.\nReturns the created connection(s).\n\nSpecify target channels using either `channels` (preferred) or `channel_ids` (legacy), but not both.\nThe `channels` form allows per-channel position and connection metadata.\n\n**Authentication required.**\n","tags":["Connections"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"type":"object","required":["connectable_id","connectable_type"],"properties":{"connectable_id":{"type":"integer","description":"ID of the block or channel to connect."},"connectable_type":{"$ref":"#/components/schemas/ConnectableType","description":"Type of the connectable."}}},{"oneOf":[{"type":"object","description":"Legacy form: flat channel_ids array","properties":{"channel_ids":{"$ref":"#/components/schemas/ChannelIds"},"position":{"type":"integer","description":"Position to insert at within the channel (1-indexed).\nOnly valid when connecting to a single channel.\n"}},"required":["channel_ids"],"not":{"required":["channels"]}},{"type":"object","description":"Structured form: per-channel position and connection metadata","properties":{"channels":{"type":"array","description":"Target channels with optional per-channel position and connection metadata.","items":{"$ref":"#/components/schemas/ConnectTo"},"minItems":1,"maxItems":20}},"required":["channels"],"not":{"anyOf":[{"required":["channel_ids"]},{"required":["position"]}]}}]}]}}}},"responses":{"201":{"description":"Connection(s) created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/connections/{id}":{"get":{"summary":"Get connection details","description":"Returns detailed information about a connection,\nincluding abilities (whether the current user can remove the connection).\n\nThe connection ID is included in the `connection` object when blocks/channels\nare returned as part of channel contents.\n","operationId":"getConnection","tags":["Connections"],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"responses":{"200":{"description":"Connection details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"put":{"summary":"Update a connection","description":"Updates a connection's metadata. Uses merge semantics: new keys are added,\nexisting keys are updated, keys set to null are removed.\n\n**Authentication required.**\n","operationId":"updateConnection","tags":["Connections"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataInput","description":"Custom key-value metadata. Uses merge semantics: new keys are added,\nexisting keys are updated, keys set to null are removed.\n"}}}}}},"responses":{"200":{"description":"Connection updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"400":{"$ref":"#/components/responses/ValidationErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}},"delete":{"summary":"Delete a connection","description":"Removes a block or channel from a channel by deleting the connection.\nThe block/channel itself is not deleted - it may still exist in other channels.\n\n**Authentication required.**\n","operationId":"deleteConnection","tags":["Connections"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"responses":{"204":{"description":"Connection deleted successfully"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/connections/{id}/move":{"post":{"summary":"Move a connection","operationId":"moveConnection","description":"Moves a connection to a new position within its channel.\nRequires sort permission on the channel.\n\n**Authentication required.**\n","tags":["Connections"],"security":[{"BearerAuth":[]},{"OAuth2":["write"]}],"parameters":[{"$ref":"#/components/parameters/IdParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"movement":{"$ref":"#/components/schemas/Movement","default":"insert_at"},"position":{"type":"integer","description":"Target position, 1-indexed (required when movement is insert_at)"}}}}}},"responses":{"200":{"description":"Connection successfully moved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}},"400":{"$ref":"#/components/responses/BadRequestResponse"},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"422":{"$ref":"#/components/responses/UnprocessableEntityResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/channels/{id}/contents":{"get":{"summary":"Get channel contents","operationId":"getChannelContents","description":"Returns paginated contents (blocks and channels) from a channel.\nRespects visibility rules and user permissions.\n","tags":["Channels"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ChannelContentSortParam"},{"name":"user_id","in":"query","required":false,"description":"Filter by user who added the content","schema":{"type":"integer"},"example":12345}],"responses":{"200":{"description":"Channel contents with pagination metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectableListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/channels/{id}/connections":{"get":{"summary":"Get channel connections","operationId":"getChannelConnections","description":"Returns paginated list of channels where this channel appears.\nThis shows all channels that contain this channel, respecting visibility rules and user permissions.\n","tags":["Channels"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"}],"responses":{"200":{"description":"List of channels where this channel appears","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/channels/{id}/followers":{"get":{"summary":"Get channel followers","operationId":"getChannelFollowers","description":"Returns paginated list of users who follow this channel.\nAll followers are users.\n","tags":["Channels"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"}],"responses":{"200":{"description":"List of users who follow this channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/me":{"get":{"summary":"Get current user","operationId":"getCurrentUser","description":"Returns the currently authenticated user's profile","tags":["Users"],"responses":{"200":{"description":"Current user details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/users/{id}":{"get":{"summary":"Get a user","description":"Returns detailed information about a specific user by their slug. Includes user profile, bio, and counts.","operationId":"getUser","tags":["Users"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"}],"responses":{"200":{"description":"User details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/users/{id}/contents":{"get":{"summary":"Get user contents","operationId":"getUserContents","description":"Returns paginated contents (blocks and channels) created by a user.\nUses the search API to find all content added by the specified user.\nRespects visibility rules and user permissions.","tags":["Users"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ContentSortParam"},{"$ref":"#/components/parameters/ContentTypeFilterParam"}],"responses":{"200":{"description":"User contents with pagination metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectableListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/users/{id}/followers":{"get":{"summary":"Get user followers","operationId":"getUserFollowers","description":"Returns paginated list of users who follow this user.\nAll followers are users.\n","tags":["Users"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"}],"responses":{"200":{"description":"List of users who follow this user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/users/{id}/following":{"get":{"summary":"Get user following","operationId":"getUserFollowing","description":"Returns paginated list of users, channels, and groups that this user follows.\nCan be filtered by type to return only specific followable types.\n","tags":["Users"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"},{"name":"type","in":"query","required":false,"description":"Filter by followable type","schema":{"$ref":"#/components/schemas/FollowableType"},"example":"Channel"}],"responses":{"200":{"description":"List of users, channels, and groups that this user follows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowableListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/users/{id}/groups":{"get":{"summary":"Get user groups","operationId":"getUserGroups","description":"Returns paginated list of groups the user belongs to (as owner or member).\nWhen authenticated as the target user, includes private groups.\nOtherwise only public groups are returned.\n","tags":["Users"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/GroupSortParam"}],"responses":{"200":{"description":"List of groups the user belongs to","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/groups/{id}":{"get":{"summary":"Get a group","description":"Returns detailed information about a specific group by its slug. Includes group profile, bio, owner, and counts.","operationId":"getGroup","tags":["Groups"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"}],"responses":{"200":{"description":"Group details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/groups/{id}/contents":{"get":{"summary":"Get group contents","operationId":"getGroupContents","description":"Returns paginated contents (blocks and channels) created by a group.\nUses the search API to find all content added by the specified group.\nRespects visibility rules and user permissions.","tags":["Groups"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ContentSortParam"},{"$ref":"#/components/parameters/ContentTypeFilterParam"}],"responses":{"200":{"description":"Group contents with pagination metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectableListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/groups/{id}/followers":{"get":{"summary":"Get group followers","operationId":"getGroupFollowers","description":"Returns paginated list of users who follow this group.\nAll followers are users.\n","tags":["Groups"],"parameters":[{"$ref":"#/components/parameters/SlugOrIdParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/PerParam"},{"$ref":"#/components/parameters/ConnectionSortParam"}],"responses":{"200":{"description":"List of users who follow this group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserListResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedResponse"},"403":{"$ref":"#/components/responses/ForbiddenResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"429":{"$ref":"#/components/responses/RateLimitResponse"}}}},"/v3/search":{"get":{"summary":"Search across Are.na","operationId":"search","description":"Search across blocks, channels, users, and groups.\n\n**⚠️ Premium Only**: This endpoint requires a Premium subscription.\n\n**Examples:**\n- Simple: `/v3/search?query=brutalism`\n- Images only: `/v3/search?query=architecture\u0026type=Image`\n- My content: `/v3/search?query=*\u0026scope=my`\n- In a channel: `/v3/search?query=design\u0026channel_id=12345`\n- By a user: `/v3/search?query=*\u0026user_id=456`\n- PDFs sorted by date: `/v3/search?query=*\u0026ext=pdf\u0026sort=created_at_desc`\n","tags":["Search"],"security":[{"BearerAuth":[]},{"OAuth2":["read"]}],"parameters":[{"name":"query","in":"query","required":false,"description":"The search query string. Supports full-text search across titles,\ndescriptions, and content. Use `*` as a wildcard to match everything\n(useful when filtering by type, scope, or extension).\n","schema":{"type":"string","default":"*"},"example":"design"},{"name":"type","in":"query","required":false,"description":"Filter results by content type. Accepts comma-separated values.\n- Block subtypes: `Text`, `Image`, `Link`, `Attachment`, `Embed`\n- Aggregate types: `Block` (all block types), `Channel`, `User`, `Group`\n- `All` returns everything (default behavior)\n","schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchTypeFilter"}},"style":"form","explode":false,"example":["Image","Link"]},{"name":"scope","in":"query","required":false,"description":"Limit search to a specific context.","schema":{"$ref":"#/components/schemas/SearchScope","default":"all"},"example":"my"},{"name":"user_id","in":"query","required":false,"description":"Limit search to a specific user's content.","schema":{"type":"integer"},"example":12345},{"name":"group_id","in":"query","required":false,"description":"Limit search to a specific group's content.","schema":{"type":"integer"},"example":456},{"name":"channel_id","in":"query","required":false,"description":"Limit search to a specific channel's content.","schema":{"type":"integer"},"example":789},{"name":"ext","in":"query","required":false,"description":"Filter results by file extension. Accepts comma-separated values.\nOnly applies to Attachment and Image block types. Common extensions\ninclude: pdf, jpg, png, gif, mp4, mp3, doc, xls, etc.\n","schema":{"type":"array","items":{"$ref":"#/components/schemas/FileExtension"}},"style":"form","explode":false,"example":["pdf","jpg"]},{"name":"sort","in":"query","required":false,"description":"Sort by relevance, date, name, or popularity. Defaults to `score_desc`.\nUse `random` with `seed` for reproducible random ordering.\n","schema":{"$ref":"#/components/schemas/SearchSort","default":"score_desc"},"example":"created_at_desc"},{"name":"after","in":"query","required":false,"description":"Filter to only return results updated after this timestamp.\nUseful for incremental syncing or finding recently modified content.\nFormat: ISO 8601 datetime str
[...]
